.about {
  padding-bottom: 190px;

  &__container {
    position: relative;
    max-width: 1240px;

    @include small-tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__person-image {
    position: absolute;
    left: -25px;
    top: 0;
    pointer-events: none;

    @include tablet {
      top: 140px;
      width: 50%;
    }

    @include small-tablet {
      position: static;
      order: 2;
      margin: 0 auto;
      margin-top: -20%;
      transform: translateY(20%);
    }

    @include mobile {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 600px;

    @include small-tablet {
      order: 1;
      margin-left: 0;
      max-width: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 45px;
    font-family: var(--font-jost);
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 3px;
    text-transform: uppercase;

    span {
      color: #c6d02c;
    }

    @include tablet {
      font-size: 50px;
    }

    @include small-tablet {
      font-size: 40px;
      text-align: center;
    }

    @include mobile {
      margin-bottom: 25px;
      font-size: 20px;
    }
  }

  &__list {
    margin-bottom: 60px;
    padding-left: 32px;
    font-family: var(--font-jost);
    font-weight: 500;
    font-size: 26px;
    line-height: 113%;
    letter-spacing: 1.04px;

    &-item {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -32px;
        top: 0;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Ccircle cx='9.5' cy='9.5' r='7' stroke='%23C6D02C' stroke-width='5'/%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(25%);

        @include mobile {
          left: -22px;
          width: 10px;
          height: 10px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      margin-bottom: 0;
      padding-left: 22px;
      font-size: 12px;
    }
  }

  &__story {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 25px 70px;
    font-family: var(--font-jost);
    font-weight: 500;
    font-size: 36px;
    line-height: 125%;
    letter-spacing: 1.44px;
    text-align: center;
    color: #000;
    background-image: url("../img/about__story-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &-text {
      margin: 0;
      margin-bottom: 20px;
    }

    @include tablet {
      padding: 60px 25px 55px;
    }

    @include small-tablet {
      order: 3;
      font-size: 28px;
    }

    @include mobile {
      padding: 30px 18px;
      font-size: 16px;

      a {
        padding: 14px 24px;
        font-size: 8px;
      }
    }
  }

  @include tablet {
    padding-bottom: 70px;
  }

  @include mobile {
    padding-bottom: 50px;
  }
}
