.articles {
  margin-bottom: 200px;

  &__title {
    margin: 0;
    margin-bottom: 1em;
    font-family: var(--font-jost);
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;

    span {
      color: $color-accent;
    }

    @include tablet {
      font-size: 50px;
    }

    @include small-tablet {
      font-size: 40px;
    }

    @include mobile {
      margin-bottom: 25px;
      font-size: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      grid-template-columns: none;
    }
  }

  @include mobile {
    margin-bottom: 80px;
  }
}

.article {
  position: relative;
  border-radius: 35px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 43.5%, rgb(0 0 0 / 79%) 100%);
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    width: 100%;
    height: 100%;

    @include mobile {
      padding: 20px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;
    font-family: var(--font-jost);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.72px;
    color: #fff;

    @include small-tablet {
      font-size: 18px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    padding-bottom: 10px;
    width: max-content;
    font-family: var(--font-jost);
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.64px;
    color: $color-accent;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 2px dotted $color-accent;
      width: 100%;
      height: 1px;
    }

    svg {
      margin-left: 10px;
      fill: currentcolor;
    }

    @include small-tablet {
      font-size: 14px;
    }

    @include hover {
      color: $color-accent-light;

      &::after {
        border-color: $color-accent-light;
      }
    }
  }

  @include small-tablet {
    margin: 0 auto;
    max-width: 500px;
  }
}
