.footer {
  padding: 60px 0;
  background-color: #020011;

  &__main {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 170px 150px auto;
    border-bottom: 1px solid rgba(#fff, 0.35);
    padding-bottom: 75px;
    gap: 135px;

    @include tablet {
      grid-template-columns: 170px auto;
    }

    @include mobile {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      gap: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 75px;
    border-bottom: 1px solid rgba(#fff, 0.35);
    padding-bottom: 85px;

    @include mobile {
      margin-bottom: 340px;
      border: none;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__socials {
    margin-bottom: 18px;
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.6px;

    &-title {
      margin-bottom: 18px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin-right: -6px;
      margin-left: -6px;

      @include mobile {
        justify-content: center;
      }
    }

    &-item {
      margin-right: 6px;
      margin-left: 6px;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: var(--font-jost);
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.8px;
    color: #cacaca;
    gap: 18px 82px;

    &-title {
      display: block;
      margin-bottom: 4px;
      font-weight: 500;
      color: #fff;
    }

    &-text {
      line-height: 140%; /* 28px */
      letter-spacing: 0.8px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      display: block;

      &-item {
        margin-bottom: 25px;
        text-align: center;
      }
    }
  }

  &__col {
    &-title {
      margin-bottom: 14px;
      font-family: var(--font-raleway);
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.6px;

      @include mobile {
        text-align: center;
      }
    }

    &:nth-child(2) {
      @include tablet {
        display: none;
      }
    }

    &:nth-child(3) {
      @include mobile {
        position: absolute;
        left: 0;
        top: 65px;
      }
    }
  }

  &__item {
    &--check {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -24px;
        top: 50%;
        width: 12px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M11.7861 1.24419L10.7287 0.209302C10.5861 0.0697674 10.4079 0 10.2059 0C10.004 0 9.82574 0.0697674 9.68317 0.209302L4.59802 5.18605L2.32871 2.95349C2.18614 2.81395 2.00792 2.74419 1.80594 2.74419C1.60396 2.74419 1.42574 2.81395 1.28317 2.95349L0.225743 3.98837C0.0712871 4.12791 0 4.30233 0 4.5C0 4.69767 0.0712871 4.87209 0.213861 5.01163L3.01782 7.75581L4.07525 8.7907C4.21782 8.93023 4.39604 9 4.59802 9C4.8 9 4.97822 8.93023 5.12079 8.7907L6.17822 7.75581L11.7861 2.26744C11.9287 2.12791 12 1.95349 12 1.75581C12 1.55814 11.9287 1.38372 11.7861 1.24419Z' fill='%23C6D02C'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }
    }
  }

  &__text {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.48px;
    color: #cacaca;
  }

  &__link {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.48px;
    color: #cacaca;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }

  &__additional {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;

    @include mobile {
      grid-template-columns: none;
    }
  }

  &__rights {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    letter-spacing: 0.52px;

    @include mobile {
      text-align: center;
    }
  }

  &__copyrights {
    display: flex;
    align-items: center;
    justify-content: center;

    &-link {
      position: relative;
      display: block;
      font-family: var(--font-raleway);
      font-weight: 500;
      font-size: 13px;
      line-height: 185%;
      letter-spacing: 0.52px;
      text-align: center;
      color: $color-accent;
      transition: color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        border-top: 1px dashed $color-accent;
        width: 100%;
        height: 1px;
      }

      &:hover {
        color: $color-accent-light;
      }
    }
  }
}
