.partners {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #fff;

  &__title {
    margin: 0;
    margin-bottom: 100px;
    font-family: var(--font-jost);
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #0d083f;

    span {
      color: $color-accent;
    }
  }

  &__grid {
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 25%));
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
