.review-cards {
  margin-bottom: 180px;
  padding-top: 60px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;

    @include big-desktop {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 100px;
    }

    @include small-tablet {
      grid-template-columns: none;
      row-gap: 80px;
    }

    @include mobile {
      row-gap: 45px;
    }
  }

  @include mobile {
    margin-bottom: 60px;
    padding-top: 30px;
  }
}

.review-item {
  position: relative;
  outline: 2px dashed #c6d02c;
  outline-offset: -10px;
  border-radius: 25px;
  padding: 50px 40px 50px 265px;
  background: #fff;

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 272px;
    height: 325px;
    object-fit: contain;
    object-position: left;

    @include small-tablet {
      width: 200px;
      height: auto;
    }

    @include mobile {
      width: 140px;
    }
  }

  &__content {
    @include small-tablet {
      margin-right: 0;
      margin-left: auto;
      max-width: 60%;
    }

    @include mobile {
      max-width: 50%;
    }
  }

  &__text {
    margin-bottom: 10px;
    font-family: var(--font-jost);
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.88px;
    color: #080627;

    @include mobile {
      margin-bottom: 6px;
      font-size: 13px;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-family: var(--font-jost);
    font-weight: 700;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0.695px;
    color: #080627;

    @include mobile {
      margin-bottom: 6px;
      font-size: 10px;
    }
  }

  &__link {
    font-family: var(--font-jost);
    font-weight: 500;
    font-size: 17px;
    line-height: 24px; /* 138.249% */
    letter-spacing: 0.694px;
    color: #c6d02c;
    transition: color 0.3s ease;

    @include mobile {
      font-size: 10px;
    }

    @include hover {
      color: $color-main-bg;
    }
  }

  &:last-child {
    @include big-desktop {
      grid-column: span 2;
    }

    @include small-tablet {
      grid-column: auto;
    }
  }

  @include small-tablet {
    padding: 28px 32px;
    padding-left: initial;
  }

  @include mobile {
    padding: 20px 24px;
    padding-left: initial;
  }
}
