<section class="about">
  <div class="about__container container">
    <img loading="lazy" src="img/about-person.png" class="about__person-image" width="688" height="1032" alt="">
    <div class="about__content">
      <h2 class="about__title">Константин <span>Смирнов</span></h2>
      <ul class="about__list list-reset">
        <li class="about__list-item">Бизнес-тренер, эксперт<br>по ведению сложных переговоров</li>
        <li class="about__list-item">Двукратный Чемпион России<br>по управленческой борьбе</li>
        <li class="about__list-item">Опыт ведения бизнеса более 30 лет</li>
        <li class="about__list-item">Ведущий курса МГИМО "Переговоры
          <br>для первых лиц", эксперт в программе
          <br>DBA в РАНХиГС</li>
        <li class="about__list-item">Организатор международного
          <br>бизнес-лагеря для руководителей
          <br>и собственников "Траектория Лидера"</li>
        <li class="about__list-item">Автор книги главные фишки переговорщика</li>
        <li class="about__list-item">Член ассоциации спикеров СНГ</li>
      </ul>
    </div>
    <div class="about__story">
      <p class="about__story-text">Моя миссия - научить вас добиваться максимума в сложных переговорах, сохраняя хорошие отношения с собеседниками</p>
      <a class="button button-main" href="https://disk.yandex.ru/i/BmLXQjgVM_VA1Q">Моя история</a>
    </div>
  </div>
</section>
