<section class="articles">
  <div class="articles__container container">
    <h2 class="articles__title">Полезные <span>статьи</span></h2>
    <div class="articles__grid">
      <div class="articles__item article">
        <img loading="lazy" src="img/article-1.png" class="article__image" width="500" height="400" alt="">
        <div class="article__text">
          <h3 class="article__title">Как заключить выгодную сделку с крупным клиентом?</h3>
          <a class="article__link" href="https://kvsmirnov.ru/articles/kak-zakljuchit-vygodnuju-sdelku-s-krupnym-klientom/">
            Смотреть подробнее
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
              <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" fill="#C6D02C"/>
              <path d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" fill="#C6D02C"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="articles__item article">
        <img loading="lazy" src="img/article-2.png" class="article__image" width="500" height="400" alt="">
        <div class="article__text">
          <h3 class="article__title">Основные принципы работы с клиентом</h3>
          <a class="article__link" href="https://kvsmirnov.ru/articles/principy-raboty-raboty-s-vozrazhenijami/">
            Смотреть подробнее
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
              <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" fill="#C6D02C"/>
              <path d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" fill="#C6D02C"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="articles__item article">
        <img loading="lazy" src="img/article-3.png" class="article__image" width="500" height="400" alt="">
        <div class="article__text">
          <h3 class="article__title">Основные принципы работы с клиентом</h3>
          <a class="article__link" href="https://kvsmirnov.ru/articles/vpered-dvigaj-vygodoj-a-na-meste-uderzhivaj-vredom/">
            Смотреть подробнее
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
              <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" fill="#C6D02C"/>
              <path d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" fill="#C6D02C"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
