<section class="callback-form">
  <div class="callback-form__container container">
    <div class="callback-form__wrapper">
      <h2 class="callback-form__title">Хотите получить персональную консультацию с двукратным чемпионом России<br>по переговорам?</h2>
      <div class="callback-form__small-text">В какое время вам позвонить?</div>
      <form class="callback-form__form" action="" data-form="callback">
        <select class="callback-form__input callback-form__input--select" name="time" id="">
          <option value="Сейчас">Сейчас</option>
          <option value="Через час">Через час</option>
          <option value="Сегодня">Сегодня</option>
          <option value="Завтра">Завтра</option>
          <option value="На неделе">На неделе</option>
        </select>
        <input class="callback-form__input callback-form__input-text callback-form__input--tel" type="tel" name="phone" id="" placeholder="Ваш номер телефона">
        <button class="btn-reset callback-form__submit button button-main">
          Перезвоните мне
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
            <path d="M16.8843 0.715455L0 16.6025L1.83525 18.3294L18.7196 2.44231L16.8843 0.715455Z" fill="currentColor"/>
            <path d="M19.1259 8.88546H16.5305V2.82889H10.0937V0.386719H19.1259V8.88546Z" fill="currentColor"/>
          </svg>
        </button>
        <label class="custom-checkbox callback-form__checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Согласен с условиями <a href="#">политики конфиденциальности данных</a></span>
        </label>
      </form>
      <div class="callback-form__socials">
        <span class="callback-form__socials-text">или напишите, мы онлайн</span>
        <a class="callback-form__socials-link" href="/">
          <img loading="lazy" src="img/wa-icon.png" class="callback-form__socials-icon" width="45" height="45" alt="">
        </a>
        <a class="callback-form__socials-link" href="/">
          <img loading="lazy" src="img/viber-icon.png" class="callback-form__socials-icon" width="50" height="50" alt="">
        </a>
      </div>
      <img loading="lazy" src="img/callback-form-person.png" class="callback-form__section-image" width="726" height="812" alt="" aria-hidden="true">
    </div>
  </div>
</section>
