<section class="events">
  <div class="events__container container-fluid">
    <h2 class="events__title">Календарь<br><span>мероприятий</span></h2>
    <div class="events__slider-wrapper">
      <div class="swiper events__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide events__slide">
            <div class="events__item event">
              <div class="event__content">
                <div class="event__title">Онлайн-курс для подростков “Ты - Чемпион!”</div>
                <div class="event__date">1 октября - 26 ноября</div>
                <p class="event__descr">Закладывать фундамент будущего нужно начинать как можно раньше,
                  а умение отстаивать свою точку зрения, при этом сохраняя хорошие отношения с окружающими — один из
                  главных кирпичиков этого фундамента</p>
                <button class="btn-reset event__link" data-graph-path="event-1">
                  Подробности
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
                <button class="btn-reset event__link" data-graph-path="event-callback">
                  Записаться
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
              </div>
              <img loading="lazy" src="img/event-image-1.png" class="event__image" width="500" height="670" alt="">
            </div>
          </div>
          <div class="swiper-slide events__slide">
            <div class="events__item event">
              <div class="event__content">
                <div class="event__title">Бизнес-лагерь<br>“Траектория лидера”</div>
                <div class="event__date">13-15 октября, Уфа</div>
                <p class="event__descr">3-дневный курс подготовки управленческой элиты по технологи Владимира Тарасова. После прохождения курса вы сможете выйти на новый уровень в любом бизнесе!</p>
                <button class="btn-reset event__link" data-graph-path="event-2">
                  Подробности
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
                <button class="btn-reset event__link" data-graph-path="event-callback">
                  Записаться
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
              </div>
              <img loading="lazy" src="img/event-image-2.png" class="event__image" width="500" height="670" alt="">
            </div>
          </div>
          <div class="swiper-slide events__slide">
            <div class="events__item event">
              <div class="event__content">
                <div class="event__title">Бизнес-тур<br>“Стратегия двух океанов”</div>
                <div class="event__date">3-12 ноября, ЮАР, Кейптаун</div>
                <p class="event__descr">Бизнес-тур “Стратегия двух океанов
                  с Константином Смирновым, в окружении 20 опытных владельцев бизнеса: узнайте, как собственнику бизнеса выйти из операционки и перейти на уровень стратегического управления.</p>
                  <button class="btn-reset event__link" data-graph-path="event-3">
                    Подробности
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                      <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                      <path
                        d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                    </svg>
                  </button>
                  <button class="btn-reset event__link" data-graph-path="event-callback">
                    Записаться
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                      <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                      <path
                        d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                    </svg>
                  </button>
              </div>
              <img loading="lazy" src="img/event-image-3.png" class="event__image" width="500" height="670" alt="">
            </div>
          </div>
          <div class="swiper-slide events__slide">
            <div class="events__item event">
              <div class="event__content">
                <div class="event__title">Онлайн курс “Переговоры для ТОПов”</div>
                <div class="event__date">13 ноября - 7 декабря </div>
                <p class="event__descr">Вы окупите временные и финансовые вложения на обучение уже во время курса. Последняя неделя будет посвящена капитализации полученных навыков. Вы станете другим человеком, сразу внедрите полученные техники в повседневную практику, да еще и заработаете на этом!</p>
                <button class="btn-reset event__link" data-graph-path="event-4">
                  Подробности
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
                <button class="btn-reset event__link" data-graph-path="event-callback">
                  Записаться
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
              </div>
              <img loading="lazy" src="img/event-image-4.png" class="event__image" width="500" height="670" alt="">
            </div>
          </div>
          <div class="swiper-slide events__slide">
            <div class="events__item event">
              <div class="event__content">
                <div class="event__title">Бизнес-лагерь “Траектория лидера”</div>
                <div class="event__date">22-29 марта, 2024г. Дубай, ОАЭ</div>
                <p class="event__descr">Получите 6-ти летний опыт управления бизнесом за 6 дней, пройдя курс подготовки управленческой элиты<br>
                  по технологии Владимира Тарасова.</p>
                <button class="btn-reset event__link" data-graph-path="event-5">
                  Подробности
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
                <button class="btn-reset event__link" data-graph-path="event-callback">
                  Записаться
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M17.1646 8.3086L0.884766 8.30859L0.884766 10.0781L17.1646 10.0781L17.1646 8.3086Z" />
                    <path
                      d="M14.0596 13.5751L12.8083 12.3238L15.9115 9.22063L12.8083 6.11748L14.0596 4.86621L18.414 9.22063L14.0596 13.5751Z" />
                  </svg>
                </button>
              </div>
              <img loading="lazy" src="img/event-image-5.png" class="event__image" width="500" height="670" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="events__slider-pagination swiper-pagination"></div>
      <div class="events__slider-button events__slider-button--prev">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="32" cy="32" r="32" transform="rotate(180 32 32)" fill="#C6D02C" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M27.1628 31.9437L34.8992 24.0942L36.0851 25.2801L29.4781 32.0001L36.1416 38.7201L34.9557 39.906L27.1063 32.0001L27.1628 31.9437Z"
            fill="white" />
        </svg>
      </div>
      <div class="events__slider-button events__slider-button--next">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="32" cy="32" r="32" transform="matrix(1 0 0 -1 0 64)" fill="#C6D02C" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M36.8372 31.9437L29.1008 24.0942L27.9149 25.2801L34.5219 32.0001L27.8584 38.7201L29.0443 39.906L36.8937 32.0001L36.8372 31.9437Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </div>
</section>
