<div class="graph-modal__container graph-modal__container--small" role="dialog" aria-modal="true" data-graph-target="event-callback">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="event-callback">
      <div class="event-callback__title">Принять участие</div>
      <div class="event-callback__choose-event">Выберите мероприятие:</div>
      <form class="event-callback__form" action="" data-form="eventCallback">
        <select class="event-callback__input event-callback__input--select" name="event_name" id="">
          <option value="Онлайн-курс для подростков “Ты - Чемпион!”">Онлайн-курс для подростков “Ты - Чемпион!”</option>
          <option value="Бизнес-лагерь “Траектория лидера”">Бизнес-лагерь “Траектория лидера”</option>
          <option value="Бизнес-тур “Стратегия двух океанов”">Бизнес-тур “Стратегия двух океанов”</option>
          <option value="Онлайн курс “Переговоры для ТОПов”">Онлайн курс “Переговоры для ТОПов”</option>
          <option value="Бизнес-лагерь “Траектория лидера”">Бизнес-лагерь “Траектория лидера”</option>
        </select>
        <input class="event-callback__input event-callback__input-text event-callback__input--name" type="text" name="name" id="" placeholder="Ваше имя">
        <input class="event-callback__input event-callback__input-text event-callback__input--phone" type="tel" name="phone" id="" placeholder="Ваш номер телефона ">
        <button class="btn-reset event-callback__submit button button-main">
          Оставить заявку
        </button>
        <label class="custom-checkbox event-callback__checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Согласен с условиями <a href="#">политики конфиденциальности данных</a></span>
        </label>
      </form>
    </div>
  </div>
</div>
