<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title">Вот, как проходят наши<br><span>обучающие мероприятия:</span></h2>
    <div class="gallery__list">
      <div class="gallery__tabs tabs" data-tabs="gallery">
        <ul class="list-reset tabs__nav">
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Дубай 2023</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">МГИМО</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Мегафон</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Сочи</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Золотое кольцо, ЕКБ</button></li>
        </ul>
        <div class="tabs__content">
          <div class="tabs__panel">
            <div class="gallery__grid">
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-1.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-2.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-3.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-4.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-5.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-6.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-7.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-8.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-9.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-10.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-11.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-12.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="gallery__grid">
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-1.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-2.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-3.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-4.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-5.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-6.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-7.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-8.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-9.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-10.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-11.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-12.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="gallery__grid">
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-1.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-2.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-3.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-4.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-5.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-6.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-7.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-8.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-9.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-10.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-11.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-12.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="gallery__grid">
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-1.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-2.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-3.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-4.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-5.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-6.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-7.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-8.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-9.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-10.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-11.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-12.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="gallery__grid">
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-1.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-2.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-3.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-4.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-5.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-6.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-7.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-8.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-9.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-10.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-11.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
              <div class="gallery__item">
                <img loading="lazy" src="img/gallery-img-12.jpg" class="gallery__image" width="370" height="300" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
