<section class="gift">
  <div class="gift__container container">
    <div class="gift__text">
      <div class="gift__title">Скачайте чек-лист для подготовки к сложным переговорам</div>
      <a class="gift__button" href="https://t.me/kvsmirnovtrener/478">
        Скачать PDF
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M17.6775 0.366446L0 18.0439L1.92147 19.9654L19.599 2.28791L17.6775 0.366446Z" fill="white"/>
          <path d="M20.0249 9.45652H17.3075V2.71739H10.5684V0H20.0249V9.45652Z" fill="white"/>
        </svg>
      </a>
    </div>
    <img loading="lazy" src="img/gift-image.png" class="gift__image" width="410" height="705" alt="">
  </div>
</section>
