<header class="header">
  <div class="container header__container">
    <div class="header__up-side">
      <span class="logo header__logo">
        <img loading="lazy" src="img/logo.png" class="logo__image" width="121" height="30" alt="Логотип компании">
      </span>
      <!-- /.header__logo.logo -->
      <div class="header__address">
        <svg class="header__address-icon" width="20" height="24">
          <use xlink:href="img/sprite.svg#location"></use>
        </svg>
        <div class="header__address-content">
          <div class="header__address-title">Адрес офиса:</div>
          <div class="header__address-text">г. Москва,<br>ул.Касаткина, 10 А</div>
        </div>
      </div>
      <!-- /.header__address -->
      <div class="header__socials">
        <div class="header__socials-text">Задайте вопрос, мы онлайн</div>
        <ul class="list-reset header__socials-list">
          <li class="header__socials-item">
            <a class="header__socials-link" href="/">
              <img loading="lazy" src="img/wa-icon.png" class="header__social-image" width="45" height="45" alt="">
            </a>
          </li>
          <li class="header__socials-item">
            <a class="header__socials-link" href="/">
              <img loading="lazy" src="img/viber-icon.png" class="header__social-image" width="50" height="50" alt="">
            </a>
          </li>
          <li class="header__socials-item">
            <a class="header__socials-link" href="/">
              <img loading="lazy" src="img/tg-icon.png" class="header__social-image" width="45" height="45" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!-- /.header__socials -->
      <div class="header__contacts">
        <div class="header__contacts-title">ПН-СБ с 10:00 до 19:00 </div>
        <a class="header__contacts-phone" href="tel:+7(917)7663377">+7 (917) 766-33-77</a>
        <a class="header__contacts-lead" href="#">Оставить заявку</a>
      </div>
      <!-- /.header__contacts -->
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
    <!-- /.header__up-side -->

    <div class="header__down-side" data-menu>
      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Деловые игры</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Миссия</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Преимущества</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Команда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
