<header class="header">
  <div class="container header__container">
    <div class="header__up-side">
      <span class="logo header__logo">
        <img loading="lazy" src="img/logo.png" class="logo__image" width="121" height="30" alt="Логотип компании">
      </span>
      <!-- /.header__logo.logo -->
      <div class="header__address">
        <svg class="header__address-icon" width="20" height="24">
          <use xlink:href="img/sprite.svg#location"></use>
        </svg>
        <div class="header__address-content">
          <div class="header__address-title">Адрес офиса:</div>
          <div class="header__address-text">г. Москва, <br>Пресненская набережная 12</div>
        </div>
      </div>
      <!-- /.header__address -->
      <div class="header__socials">
        <div class="header__socials-text">Задайте вопрос, мы онлайн</div>
        <ul class="list-reset header__socials-list">
          <li class="header__socials-item">
            <a class="header__socials-link" href="https://api.whatsapp.com/send/?phone=79177663377&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C+%D1%8F+%D1%81+%D1%81%D0%B0%D0%B9%D1%82%D0%B0+%D0%9A%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%B8%D0%BD%D0%B0+%D0%A1%D0%BC%D0%B8%D1%80%D0%BD%D0%BE%D0%B2%D0%B0+%D0%BD%D0%B0%D1%81%D1%87%D0%B5%D1%82&type=phone_number&app_absent=0">
              <img loading="lazy" src="img/wa-icon.png" class="header__social-image" width="45" height="45" alt="">
            </a>
          </li>
          <li class="header__socials-item">
            <a class="header__socials-link" href="https://viber.click/79177663377">
              <img loading="lazy" src="img/viber-icon.png" class="header__social-image" width="50" height="50" alt="">
            </a>
          </li>
          <li class="header__socials-item">
            <a class="header__socials-link" href="https://t.me/alsuproducer">
              <img loading="lazy" src="img/tg-icon.png" class="header__social-image" width="45" height="45" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!-- /.header__socials -->
      <div class="header__contacts">
        <div class="header__contacts-title">ПН-СБ с 10:00 до 19:00 </div>
        <a class="header__contacts-phone" href="tel:+7(917)7663377">+7 (917) 766-33-77</a>
        <button class="header__contacts-lead btn-reset" data-graph-path="event-callback">Оставить заявку</button>
      </div>
      <!-- /.header__contacts -->
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
    <!-- /.header__up-side -->

    <div class="header__down-side" data-menu>
      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Деловые игры</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Миссия</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Преимущества</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Команда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
