<section class="interactive">
  <div class="interactive__container container">
    <h2 class="interactive__title">Интерактивный формат обучения позволяет запоминать <br><span>до 90% полученной<br>информации</span></h2>
    <div class="interactive__grid">
      <div class="interactive__item">
        <span class="interactive__item-number">01</span>
        <div class="interactive__item-text">80 процентов обучения –
          это практические упражнения: соревновательные форматы, переговорные поединки
          и социальные
          технологии.</div>
      </div>
      <div class="interactive__item">
        <span class="interactive__item-number">02</span>
        <div class="interactive__item-text">Практика строится на реальных кейсах участников, что позволяет максимально приблизить процесс обучения к использованию в повседневной жизни</div>
      </div>
      <div class="interactive__item">
        <span class="interactive__item-number">03</span>
        <div class="interactive__item-text">Личная обратная связь от двукратного чемпиона России по переговорам</div>
      </div>
    </div>
  </div>
</section>
