<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="event-1">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="event__modal">
      <div class="event__modal-title">Онлайн-курс для подростков<br>“Ты - Чемпион!”</div>
      <div class="event__modal-date">1 октября - 26 ноября</div>
      <div class="event__modal-descr">Закладывать фундамент будущего нужно начинать как можно раньше, а умение отстаивать свою точку зрения, при этом сохраняя хорошие отношения с окружающими — один из главных кирпичиков этого фундамента.</div>
      <div class="event__modal-bold-text">Мы взяли все лучшее из наших бизнес-лагерей
        и адаптировали это в формат онлайн-курса для подростков:</div>
      <ul class="list-reset event__modal-list">
        <li class="event__modal-item">В основу курса заложены социальные технологии Владимира Тарасова, Таллиннской школы менеджеров и бизнес-лагеря «Траектория лидера».</li>
        <li class="event__modal-item">Технологии адаптированы к реалиям времени и возрастным особенностям участников курса. </li>
        <li class="event__modal-item">Содержание заданий, примеры и ситуации подбираются из реальной жизни и опыта взаимодействия подростков (включая конфликты).</li>
      </ul>
      <button class="btn-reset event__modal-button" data-graph-path="event-callback">Принять участие</button>
    </div>
  </div>
</div>
<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="event-2">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="event__modal">
      <div class="event__modal-title">Бизнес-лагерь<br>“Траектория лидера”</div>
      <div class="event__modal-date">13-15 октября, Уфа</div>
      <div class="event__modal-descr">3-дневный курс подготовки управленческой элиты по технологи Владимира Тарасова. После прохождения курса вы сможете выйти на новый уровень в любом бизнесе!</div>
      <div class="event__modal-bold-text">Бизнес - лагерь - это интенсивный практический курс обучения, который позволяет за 3 дня освоить принципы принятия решений в условиях высокой неопределенности, не имея инструкции, отработать это несколько раз в разных деловых играх и полученные навыки применить в своем бизнесе.</div>
      <button class="btn-reset event__modal-button" data-graph-path="event-callback">Принять участие</button>
    </div>
  </div>
</div>
<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="event-3">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="event__modal">
      <div class="event__modal-title">Бизнес-тур<br>“Стратегия двух океанов”</div>
      <div class="event__modal-date">3-12 ноября, ЮАР, Кейптаун</div>
      <div class="event__modal-descr">Бизнес-тур “Стратегия двух океанов” с Константином Смирновым, в окружении 20 опытных владельцев бизнеса: узнайте, как собственнику бизнеса выйти из операционки и перейти на уровень стратегического управления.</div>
      <div class="event__modal-bold-text">Участие в бизнес-туре позволит собственнику:</div>
      <ul class="list-reset event__modal-list">
        <li class="event__modal-item">Понять свои управленческие ошибки, приводящие к ситуации “все на мне”.</li>
        <li class="event__modal-item">Настроить управленческий процесс в своей компании и выйти из операционки.</li>
        <li class="event__modal-item">Избежать ошибок при подготовке преемника.</li>
        <li class="event__modal-item">Построить сплоченную команду с культурой высокой ответственности.</li>
        <li class="event__modal-item">Передать управленческую рутину своей команде и не пожалеть об этом.</li>
      </ul>
      <button class="btn-reset event__modal-button" data-graph-path="event-callback">Принять участие</button>
    </div>
  </div>
</div>
<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="event-4">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="event__modal">
      <div class="event__modal-title">Онлайн курс<br>“Переговоры для ТОПов”</div>
      <div class="event__modal-date">13 ноября - 7 декабря</div>
      <div class="event__modal-descr">Вы окупите временные и финансовые вложения на обучение уже во время курса. Последняя неделя будет посвящена капитализации полученных навыков. Вы станете другим человеком, сразу внедрите полученные техники в повседневную практику, да еще и заработаете на этом!</div>
      <div class="event__modal-bold-text">Вы освоите навыки:</div>
      <ul class="list-reset event__modal-list">
        <li class="event__modal-item">Вести переговоры с людьми выше вас по статусу.</li>
        <li class="event__modal-item">Противостоять манипуляциям.</li>
        <li class="event__modal-item">Продавать без скидок и покупать на выгодных условиях.</li>
        <li class="event__modal-item">Разрешать конфликты.</li>
      </ul>
      <button class="btn-reset event__modal-button" data-graph-path="event-callback">Принять участие</button>
    </div>
  </div>
</div>
<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="event-5">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="event__modal">
      <div class="event__modal-title">Бизнес-лагерь “Траектория лидера”</div>
      <div class="event__modal-date">22-29 марта, 2024г. Дубай, ОАЭ</div>
      <div class="event__modal-descr">Получите 6-ти летний опыт управления бизнесом за 6 дней, пройдя курс подготовки управленческой элиты по технологии Владимира Тарасова.</div>
      <div class="event__modal-bold-text">Что получите?</div>
      <ul class="list-reset event__modal-list">
        <li class="event__modal-item"><span>“Перезагрузка”</span><br>
          6 дней новой жизни, острых ощущений и эмоций! Полный отрыв от текущей реальности и рутины дает необходимый заряд бодрости и свежий взгляд на свою жизнь и бизнес.</li>
        <li class="event__modal-item"><span>Выстроить свою “идеальную модель управления бизнесом”</span>
          В лагере все процессы воссоздаются с нуля, при этом это происходит в режиме постоянного динамичного мозгового штурма, без своих статусов из реальной жизни, и в условиях конкуренции, в среде руководителей и собственников.</li>
        <li class="event__modal-item"><span>Получить разбор действий и отработать управление на практике</span>
          Действия разбираются опытными экспертами с мировым именем, у вас есть 6 дней на оттачивание мастерства. Все участники лагеря - управленцы или близкие к ним, также аккумулируют свой опыт.</li>
      </ul>
      <button class="btn-reset event__modal-button" data-graph-path="event-callback">Принять участие</button>
    </div>
  </div>
</div>
