<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="review-card-1">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="review-card__modal">
      <p class="review-card__modal-text">Огромное спасибо за возможность участия в тренинге, за качественное обучение именно такому этапу, как подготовка к переговорам! В это время бешеного ритма мы экономим время на подготовке к переговорам, считаем, что разберемся по ходу дела, рассчитываем на свой опыт. Конечно, как правило, опытный человек сориентируется и проведет переговоры, но возможно это будет более длинный путь, а есть вероятность вообще не понять упущенных возможностей, которые действительно могут измеряться миллионами.</p>
      <p class="review-card__modal-text">При подготовке прорабатывается гораздо больше возможностей и вариантов для решения своего вопроса. Самое интересное, что когда занимаешься процессом подготовки к переговорам, начинаешь и сам видеть шире! Говорят, лицом к лицу лица не увидать, вот и здесь также. В общем, очень я довольна тренингом, огромное спасибо Константину Смирнову за профессионализм и чуткость, очень хочется практиковать полученные навыки под руководством опытного тренера. Вы, Константин, даете нам возможность тренировок на клубе Белый Орел самому переговорному процессу, а может быть можно как-то включить в клуб и тренировку подготовки к переговорам? Будет здорово)</p>
      <p class="review-card__modal-text">Спасибо большое за уникальную возможность иметь открытые двери к ключевому навыку всех супер успешных людей, а именно навык договариваться!!!</p>
      <div class="review-card__modal-author">
        <div class="review-card__modal-name">ЕВГЕНИЯ МАЙОРОВА</div>
        <div class="review-card__modal-role">Председатель Совета Челябинского Общественного движения помощи онкобольным детям «Искорка»</div>
        <div class="review-card__modal-author-item"><span>ТРЕНИНГ:</span> Главные фишки переговорщика</div>
        <div class="review-card__modal-author-item"><span>РЕЗУЛЬТАТ:</span> Я обрела самый дорогой навык - умение договариваться!</div>
      </div>
      <img loading="lazy" src="img/review-item__person-1.png" class="review-card__modal-image" width="" height="" alt="">
    </div>
  </div>
</div>
<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="review-card-2">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="review-card__modal">
      <p class="review-card__modal-text">Вы знаете, посещая вечерние занятия в клубе переговорных технологий «Белый Орел», я поняла, как можно намного быстрее и эффективнее решать многие вопросы моего бизнеса.</p>
      <p class="review-card__modal-text">Например, я смогла получить более выгодные условия от своих поставщиков оборудования, отработав это сначала на кейсе в клубе.</p>
      <p class="review-card__modal-text">Мало того, я поняла, что многие вопросы в личной жизни можно решать проще и с меньшими стрессами, будь то отношениями с близкими или разговор с продавцом в магазине.</p>
      <p class="review-card__modal-text">Формат практического клуба мне сразу понравился, и я рекомендую всем присоединится к нашему клубу! Да! Да! Теперь уже к нашему! Потому что я нашла то, что искала не один год! И теперь это моя жизнь! Фитнес для мозга - это супер!</p>
      <div class="review-card__modal-author">
        <div class="review-card__modal-name">СВЕТЛАНА ШАХОВА</div>
        <div class="review-card__modal-role">Владелица фитнес-клубов Habibi Сlub</div>
        <div class="review-card__modal-author-item"><span>ТРЕНИНГ:</span> БИЗНЕС-ФИТНЕС</div>
        <div class="review-card__modal-author-item"><span>РЕЗУЛЬТАТ:</span> Я смогла получить более выгодные условия от своих поставщиков оборудования</div>
      </div>
      <img loading="lazy" src="img/review-item__person-2.png" class="review-card__modal-image" width="" height="" alt="">
    </div>
  </div>
</div>
<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="review-card-3">
  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
  <div class="graph-modal__content">
    <div class="review-card__modal">
      <p class="review-card__modal-text">Каждый сам для себя может более-менее оценить, что у него получается хорошо, что не очень. Уже более 20-и лет моя работа – сплошные переговоры. И я считал, что умею это делать весьма неплохо. Да и люди так говорили.<br>
        Но одно дело – уметь неплохо плавать, а другое – плавать мастерски.<br>
        Одно дело – суметь дать сдачи хулигану во дворе, а другое – уметь побеждать на ринге.<br>
        Так и здесь. Для меня открылись такие глубины и тонкости переговорного искусства, о которых я даже не подозревал за долгие годы своего «любительства».</p>
      <p class="review-card__modal-text">Тренинг помог мне:<br>
        - выстроить знания о переговорах в систему<br>
        - понять свои сильные/слабые стороны как переговорщика<br>
        - понять, над чем нужно работать и главное – как работать, добиваться в переговорах гораздо большего с гораздо меньшими усилиями.</p>
      <p class="review-card__modal-text">И ещё раз повторюсь – появилась своеобразная система Менделеева о переговорах. Теперь переговоры можно планировать, анализировать, корректировать ход переговоров – и всё это делать легко и свободно.<br>
        Как легко плывет спортсмен-пловец, как легко ведёт бой боксер-профессионал.
        Спасибо!</p>
      <div class="review-card__modal-author">
        <div class="review-card__modal-name">НИКОЛАЙ ЖУКОВ</div>
        <div class="review-card__modal-role">Директор компании «Флексайтс»</div>
        <div class="review-card__modal-author-item"><span>ТРЕНИНГ:</span> Мастер деловых встреч</div>
        <div class="review-card__modal-author-item"><span>РЕЗУЛЬТАТ:</span> У меня появилась своеобразная система Менделеева о переговорах</div>
      </div>
      <img loading="lazy" src="img/review-item__person-3.png" class="review-card__modal-image" width="" height="" alt="">
    </div>
  </div>
</div>
