<section class="partners">
  <div class="partners__container container">
    <h2 class="partners__title">Наши <span>клиенты:</span></h2>
    <div class="swiper partners__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-1.jpg" class="partners__item-image" alt="">
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-2.jpg" class="partners__item-image" alt="">
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-3.jpg" class="partners__item-image" alt="">
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-4.jpg" class="partners__item-image" alt="">
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-5.jpg" class="partners__item-image" alt="">
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-6.jpg" class="partners__item-image" alt="">
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-7.jpg" class="partners__item-image" alt="">
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img loading="lazy" src="img/partner-8.jpg" class="partners__item-image" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="partners__slider-pagination swiper-pagination"></div>
  </div>
</section>

