<section class="problems">
  <div class="problems__container container">
    <h2 class="problems__title">С какими из этих <span>проблем</span> вы сталкиваетесь?</h2>
    <div class="problems__grid">
      <div class="problems__card problem">
        <div class="problem__title">Деловые партнеры пытаются навязывать свои условия</div>
        <div class="problem__text">Деловые партнеры пытаются навязывать свои условия</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">После подписания крупных контрактов всплывают «подводные камни»</div>
        <div class="problem__text">После подписания крупных контрактов всплывают «подводные камни»</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Вам трудно отстаивать свою точку зрения<br>
          в переговорах</div>
        <div class="problem__text">Вам трудно отстаивать свою точку зрения<br>
          в переговорах</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Страх перед<br>
          переговорами</div>
        <div class="problem__text">Страх перед<br>
          переговорами</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Постоянные трения<br>
          в отношениях<br>
          с подчиненными</div>
        <div class="problem__text">Постоянные трения<br>
          в отношениях<br>
          с подчиненными</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Не хватает аргументов, чтобы убеждать собеседников</div>
        <div class="problem__text">Не хватает аргументов, чтобы убеждать собеседников</div>
      </div>
    </div>
  </div>
</section>
