<section class="problems">
  <div class="problems__container container">
    <h2 class="problems__title">С какими из этих <span>проблем</span> вы сталкиваетесь?</h2>
    <div class="problems__grid">
      <div class="problems__card problem">
        <div class="problem__title">Деловые партнеры пытаются навязывать свои условия</div>
        <div class="problem__text">Вам сложно настоять на своем и приходится делать уступки</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">После подписания крупных контрактов всплывают «подводные камни»</div>
        <div class="problem__text">Вы понимаете, что условия контракта оказались куда менее выгодными, чем вы рассчитывали</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Вам трудно отстаивать свою точку зрения<br>
          в переговорах</div>
        <div class="problem__text">Когда на вас начинают оказывать психологическое давление, вы поддаетесь</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Страх перед<br>
          переговорами</div>
        <div class="problem__text">Вы сомневаетесь в себе, когда приходит пора провести сложные переговоры</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Постоянные трения<br>
          в отношениях<br>
          с подчиненными</div>
        <div class="problem__text">Подчиненные не слушаются вас или саботируют работу</div>
      </div>
      <div class="problems__card problem">
        <div class="problem__title">Не хватает аргументов, чтобы убеждать собеседников</div>
        <div class="problem__text">У вас возникают сложности с аргументацией своей точки зрения</div>
      </div>
    </div>
  </div>
</section>
