<section class="quiz">
  <div class="quiz__container container">
    <h2 class="quiz__title">Мы можем помочь вам <span>подобрать обучающую программу</span></h2>
    <div class="quiz__subtitle">Выберите 5 верных утверждений для подбора наиболее подходящей обучающей программы.</div>
    <div class="quiz__wrapper">
      <div data-marquiz-id="6516891edbe8490025800e4f"></div>
      <script>(function(t, p) {window.Marquiz ? Marquiz.add([t, p]) : document.addEventListener('marquizLoaded', function() {Marquiz.add([t, p])})})('Inline', {id: '6516891edbe8490025800e4f', buttonText: 'Пройти тест', bgColor: '#d34085', textColor: '#ffffff', rounded: true, shadow: 'rgba(211, 64, 133, 0.5)', blicked: true, width: '1000', height: '500'})</script>
    </div>
    <div class="quiz__gift">
      <img loading="lazy" src="img/quiz__image.png" class="quiz__gift-image" width="460" height="480" alt="">
      <div class="quiz__gift-text">В подарок за прохождение опроса, вы получите книгу Константина Смирнова “Главные фишки переговорщика”</div>
    </div>
  </div>
</section>
