<section class="review-cards">
  <div class="review-cards__conteiner container">
    <div class="review-cards__list">
      <div class="review-cards__item review-item">
        <img loading="lazy" class="review-item__image" width="272" height="325" src="img/review-item__person-1.png" alt="">
        <div class="review-item__content">
          <div class="review-item__text">Я смогла получить более выгодные условия от своих поставщиков оборудования</div>
          <div class="review-item__name">Светлана Шахова</div>
          <a class="review-item__link" href="#">Читать дальше...</a>
        </div>
      </div>
      <div class="review-cards__item review-item">
        <img loading="lazy" class="review-item__image" width="272" height="325" src="img/review-item__person-2.png" alt="">
        <div class="review-item__content">
          <div class="review-item__text">Я смогла получить более выгодные условия от своих поставщиков оборудования</div>
          <div class="review-item__name">Светлана Шахова</div>
          <a class="review-item__link" href="#">Читать дальше...</a>
        </div>
      </div>
      <div class="review-cards__item review-item">
        <img loading="lazy" class="review-item__image" width="272" height="325" src="img/review-item__person-3.png" alt="">
        <div class="review-item__content">
          <div class="review-item__text">Я смогла получить более выгодные условия от своих поставщиков оборудования</div>
          <div class="review-item__name">Светлана Шахова</div>
          <a class="review-item__link" href="#">Читать дальше...</a>
        </div>
      </div>
    </div>
  </div>
</section>
