<section class="systems">
  <div class="systems__container container">
    <h2 class="systems__title">Освоив <span>систему ведения беспроигрышных переговоров</span>, вы станете непобедимым переговорщиком</h2>
    <div class="systems__grid">
      <div class="systems__item system-card">
        <div class="system-card__title">Сможете заключать более крупные контракты</div>
        <div class="system-card__text">Сможете заключать более крупные контракты</div>
      </div>
      <div class="systems__item system-card">
        <div class="system-card__title">Будете чувствовать уверенность даже на сложных переговорах</div>
        <div class="system-card__text">Будете чувствовать уверенность даже на сложных переговорах</div>
      </div>
      <div class="systems__item system-card">
        <div class="system-card__title">Установите порядок<br>
          в отношениях<br>
          с подчиненными</div>
        <div class="system-card__text">Установите порядок в отношениях с подчиненными</div>
      </div>
    </div>
  </div>
</section>
