<section class="systems">
  <div class="systems__container container">
    <h2 class="systems__title">Освоив <span>систему ведения беспроигрышных переговоров</span>, вы станете непобедимым переговорщиком</h2>
    <div class="systems__grid">
      <div class="systems__item system-card">
        <div class="system-card__title">Сможете заключать более крупные контракты</div>
        <div class="system-card__text">и уверенно чувствовать себя на переговорах с теми, кто выше вас</div>
      </div>
      <div class="systems__item system-card">
        <div class="system-card__title">Будете чувствовать уверенность даже на сложных переговорах</div>
        <div class="system-card__text">Вы готовы к любому повороту в переговорах, у вас на все есть план Б</div>
      </div>
      <div class="systems__item system-card">
        <div class="system-card__title">Установите порядок<br>
          в отношениях<br>
          с подчиненными</div>
        <div class="system-card__text">Ваши подчиненные видят в вас авторитет</div>
      </div>
    </div>
  </div>
</section>
