<section class="video-reviews">
  <div class="video-reviews__container container-fluid">
    <h2 class="video-reviews__title">Вот, что говорят<br><span>участники бизнес-лагеря:</span></h2>
    <div class="video-reviews__slider-wrapper">
      <div class="swiper video-reviews__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-1.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/uXfyHZUGaA0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Эльдар Закиров,<br>
                руководитель ПАО “Совкомбанк”</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-2.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/L9mWn-S7vAI">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Татьяна Илатовская,<br>
                инструктор школы “ISMA”</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-3.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/0JqcgQaT5VA">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Дина Григорьева,<br>
                руководитель АО “УФАНЕТ”</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-4.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/ratx6I7hd1A">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Татьяна Маркова-Учайкина,<br>
                руководитель “Уральские Авиалинии”</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-5.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/AWrHXTXfPRo">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Александр Корепанов,
                директор компании Центр информационных технологий “Барс”</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-6.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/gSHkEnub7Zk">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Евгений Бодров, технический директор машиностроительного завода</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-7.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/SQh7Sl0Kid4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Артём Злобин,<br>предприниматель</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-8.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/45Y0oWPdL0I">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Дмитрий Горюшкин, собственник бизнеса “Деревянные дома северо-запада”</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-9.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/y3Ss-dVmSAs">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Карина Колесникова,<br>руководитель АО ”УФАНЕТ”</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-10.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/aaCz8y3bmWk">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Константин Пономарев,<br>предприниматель</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-11.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/BaZFgFVa6JM">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Ксения Дронова,<br>собственник бизнеса</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-12.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/jfbesbO6XKA">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Наталья Щербинина,<br>руководитель</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-13.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/dSthzMg-VhA">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Ольга Сизова,<br>собственник бизнеса</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-14.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/K8JfREIjoAg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Ростислав Демьянов, генеральный директор торгового центра</div>
            </div>
          </div>
          <div class="swiper-slide video-reviews__slide">
            <div class="video-reviews__item video-review">
              <div class="video-review__cover">
                <img loading="lazy" src="img/video-review__cover-15.png" class="video-review__cover-image" width="500" height="400" alt="">
                <a class="btn-reset video-review__play" href="https://youtu.be/rBcPDTxFfws">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21" fill="none">
                    <path d="M3.36342 0.846809C1.59848 -0.173735 0.157715 0.666713 0.157715 2.7078V17.7878C0.157715 19.8289 1.59848 20.6694 3.37543 19.6488L16.5585 12.0848C18.3354 11.0643 18.3354 9.41938 16.5585 8.39883L3.36342 0.846809Z" fill="white"/>
                  </svg>
                </a>
              </div>
              <div class="video-review__title">Эльза Габдрахманова, собственник бизнеса, колл-центр “Дайлинг”</div>
            </div>
          </div>
        </div>
      </div>
      <div class="video-reviews__slider-pagination swiper-pagination"></div>
      <div class="video-reviews__slider-button video-reviews__slider-button--prev">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="32" cy="32" r="32" transform="rotate(180 32 32)" fill="#C6D02C" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M27.1628 31.9437L34.8992 24.0942L36.0851 25.2801L29.4781 32.0001L36.1416 38.7201L34.9557 39.906L27.1063 32.0001L27.1628 31.9437Z"
            fill="white" />
        </svg>
      </div>
      <div class="video-reviews__slider-button video-reviews__slider-button--next">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="32" cy="32" r="32" transform="matrix(1 0 0 -1 0 64)" fill="#C6D02C" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M36.8372 31.9437L29.1008 24.0942L27.9149 25.2801L34.5219 32.0001L27.8584 38.7201L29.0443 39.906L36.8937 32.0001L36.8372 31.9437Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </div>
</section>
