// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-jost: "Jost", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --content-width: 1570px;
  --content-fluid-width: 1775px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --swiper-pagination-bullet-inactive-color: #ececec;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #c6d02c;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-horizontal-gap: 19px;
}

// Colors
$color-main-bg: #0d083f;
$color-white: #fff;
$color-black: #000;
$color-accent: #c6d02c;
$color-accent-light: #faffa9;
